<div id="bannerimage"></div>
<div class="container-fluid mx-2">
    <div class="row">
        <div class="col-12 col-lg-3">
            <img src="../../../assets/img/user_icon_150670.png" class="border rounded-circle" id="fotoPerfil" alt="Foto de Perfil">
            <div id="infoPersonal" class="text-center fw-bold">
                <p>Guillermo Adrián Recchini</p>
                <p>T.S. en Desarrollo de Software</p>                
                <p>Full Stack Developer Jr.</p>                
            </div>
        </div>        
        <div class="col-12 col-lg-9 pt-5 pe-2 ">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minus eaque at ullam quod nisi doloribus, cum autem molestias atque officia dicta est odit fugit eligendi animi tempora. Aliquid, ipsam!
            Quas labore soluta ipsa molestiae, voluptatem fuga laboriosam architecto! Nemo aliquid architecto explicabo beatae eaque ullam illo, ipsa alias iste, soluta odio odit magnam quo asperiores iusto! Fugit, eveniet officiis!
            Distinctio perspiciatis animi, veritatis esse mollitia nostrum neque ut quae architecto minima ducimus, at eius aliquid earum corrupti quasi quis illum reiciendis recusandae commodi cum aut? Assumenda consequatur libero minima?</p>
        </div>
    </div>
</div>
<hr>
