<div class="row">
    <div class="col-2">
        <img src="../../../assets/img/example_image.png" alt="Example Image" class="img-fluid mx-auto d-block" width="75%" >
    </div>
    <div class="col-8">
        <h4>Ejemplo</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, earum vero fugiat illo eius officia sint molestias voluptas magnam itaque, neque dolorem id aspernatur nobis quis quo architecto commodi perferendis.
        Tempore reiciendis, doloribus porro magni placeat quidem deserunt, aperiam autem excepturi labore et asperiores velit facilis hic soluta vel dolorem accusamus quia illo. Soluta dolorum vero, explicabo cumque id tempora.</p>                        
    </div>
</div>